.navbar-light .navbar-brand {
  color: purple;
  font-size: 30px;
  font-weight: 700;
}


.topListItem {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.topList {
flex: 6;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
list-style: none;
margin-right: 30px;
font-size: 18px;
font-weight: 300;
cursor: pointer;
}
