.sliderImg {
  max-height: 500px; /* change this to whatever you want */
  width: auto;
  object-fit: cover;
}
.head-text {
  position: relative;
  color: white;
}
.center__text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-20%, -50%);
}
