.sliderImg {
  max-height: 500px; /* change this to whatever you want */
  width: auto;
  object-fit: cover;
}
.head-text {
  position: relative;
  color: white;
}
.ctext {
  position: absolute;
  bottom: 40%;
  left: 30%;
}
